@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-roboto);
    --font-heading: var(--font-righteous);
    --color-ink-black-50: #e6f7fe;
    --color-ink-black-100: #cef0fd;
    --color-ink-black-200: #9ce1fc;
    --color-ink-black-300: #6bd2fa;
    --color-ink-black-400: #39c3f9;
    --color-ink-black-500: #08b3f7;
    --color-ink-black-600: #0690c6;
    --color-ink-black-700: #056c94;
    --color-ink-black-800: #034863;
    --color-ink-black-900: #022431;
    --color-ink-black-950: #011923;
    --color-dark-teal-50: #eaf6fb;
    --color-dark-teal-100: #d5edf6;
    --color-dark-teal-200: #aadbee;
    --color-dark-teal-300: #80c8e5;
    --color-dark-teal-400: #56b6dc;
    --color-dark-teal-500: #2ba4d4;
    --color-dark-teal-600: #2383a9;
    --color-dark-teal-700: #1a627f;
    --color-dark-teal-800: #114255;
    --color-dark-teal-900: #09212a;
    --color-dark-teal-950: #06171e;
    --color-air-force-blue-50: #eff4f5;
    --color-air-force-blue-100: #dfe8ec;
    --color-air-force-blue-200: #c0d2d8;
    --color-air-force-blue-300: #a0bbc5;
    --color-air-force-blue-400: #81a4b1;
    --color-air-force-blue-500: #618e9e;
    --color-air-force-blue-600: #4e717e;
    --color-air-force-blue-700: #3a555f;
    --color-air-force-blue-800: #27393f;
    --color-air-force-blue-900: #131c20;
    --color-air-force-blue-950: #0e1416;
    --color-ash-grey-50: #f0f4f1;
    --color-ash-grey-100: #e2e9e2;
    --color-ash-grey-200: #c4d4c6;
    --color-ash-grey-300: #a7bea9;
    --color-ash-grey-400: #8aa88d;
    --color-ash-grey-500: #6c9370;
    --color-ash-grey-600: #57755a;
    --color-ash-grey-700: #415843;
    --color-ash-grey-800: #2b3b2d;
    --color-ash-grey-900: #161d16;
    --color-ash-grey-950: #0f1510;
    --color-beige-50: #f5f9eb;
    --color-beige-100: #ebf4d7;
    --color-beige-200: #d6e8b0;
    --color-beige-300: #c2dd88;
    --color-beige-400: #aed161;
    --color-beige-500: #99c639;
    --color-beige-600: #7b9e2e;
    --color-beige-700: #5c7722;
    --color-beige-800: #3d4f17;
    --color-beige-900: #1f280b;
    --color-beige-950: #151c08;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: var(--color-beige-400);
    --foreground: var(--color-beige-950);
    --card: var(--color-beige-50);
    --card-foreground: var(--color-beige-950);
    --popover: var(--color-beige-50);
    --popover-foreground: var(--color-beige-950);
    --primary: var(--color-beige-400);
    --primary-foreground: var(--color-beige-50);
    --secondary: var(--color-ink-black-50);
    --secondary-foreground: var(--color-ink-black-950);
    --muted: var(--color-ink-black-50);
    --muted-foreground: var(--color-ink-black-500);
    --accent: var(--color-dark-teal-50);
    --accent-foreground: var(--color-dark-teal-950);
    --destructive: var(--color-ink-black-600);
    --border: var(--color-ink-black-100);
    --input: var(--color-ink-black-100);
    --ring: var(--color-beige-600);
    --chart-1: var(--color-beige-500);
    --chart-2: var(--color-ink-black-500);
    --chart-3: var(--color-dark-teal-500);
    --chart-4: var(--color-air-force-blue-500);
    --chart-5: var(--color-ash-grey-500);
    --sidebar: var(--color-beige-50);
    --sidebar-foreground: var(--color-beige-950);
    --sidebar-primary: var(--color-beige-600);
    --sidebar-primary-foreground: var(--color-beige-50);
    --sidebar-accent: var(--color-beige-100);
    --sidebar-accent-foreground: var(--color-beige-950);
    --sidebar-border: var(--color-ink-black-100);
    --sidebar-ring: var(--color-beige-600);
}

.dark {
    --background: var(--color-beige-950);
    --foreground: var(--color-beige-50);
    --card: var(--color-beige-900);
    --card-foreground: var(--color-beige-50);
    --popover: var(--color-beige-900);
    --popover-foreground: var(--color-beige-50);
    --primary: var(--color-beige-700);
    --primary-foreground: var(--color-beige-950);
    --secondary: var(--color-ink-black-900);
    --secondary-foreground: var(--color-ink-black-50);
    --muted: var(--color-ink-black-900);
    --muted-foreground: var(--color-ink-black-500);
    --accent: var(--color-dark-teal-900);
    --accent-foreground: var(--color-dark-teal-50);
    --destructive: var(--color-ink-black-400);
    --border: var(--color-ink-black-800);
    --input: var(--color-ink-black-800);
    --ring: var(--color-beige-500);
    --chart-1: var(--color-beige-500);
    --chart-2: var(--color-ink-black-500);
    --chart-3: var(--color-dark-teal-500);
    --chart-4: var(--color-air-force-blue-500);
    --chart-5: var(--color-ash-grey-500);
    --sidebar: var(--color-beige-950);
    --sidebar-foreground: var(--color-beige-50);
    --sidebar-primary: var(--color-beige-500);
    --sidebar-primary-foreground: var(--color-beige-950);
    --sidebar-accent: var(--color-beige-900);
    --sidebar-accent-foreground: var(--color-beige-50);
    --sidebar-border: var(--color-ink-black-800);
    --sidebar-ring: var(--color-beige-500);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        @apply font-sans;
    }
}
